.hide {
  display: none;
}

.flex-cv, .region-login form.login-form, .region-salas, .region-salas .grid-salas .sala {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shadow1 {
  -webkit-box-shadow: 0 5px 10px rgba(39, 40, 44, 0.05), 0 15px 40px rgba(64, 66, 73, 0.2);
          box-shadow: 0 5px 10px rgba(39, 40, 44, 0.05), 0 15px 40px rgba(64, 66, 73, 0.2);
}

.shadow1:hover {
  -webkit-box-shadow: 0 7px 15px rgba(33, 34, 37, 0.05), 0 20px 45px rgba(48, 49, 54, 0.2);
          box-shadow: 0 7px 15px rgba(33, 34, 37, 0.05), 0 20px 45px rgba(48, 49, 54, 0.2);
}

.shadow2 {
  -webkit-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
          box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

:root {
  --color1: $color1;
  --color2: $color2;
  --color3: $color3;
  --color4: $color4;
  --color4: $color5;
  --red: $red;
  --yellow: $yellow;
  --white: $white;
  --black: $black;
  --fuente1: 'Quicksand', sans-serif;
}

* {
  font-family: var(--fuente1);
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  width: 100%;
}

.region-login {
  height: 100vh;
  width: 100%;
  background: #264653;
}

.region-login > .login {
  height: 100%;
}

.region-login form.login-form {
  background-color: #F2F6D0;
  width: 400px;
  height: 400px;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.region-login form.login-form:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.region-login form.login-form input {
  padding: 15px;
  margin: 10px 10px 20px 20px;
}

.region-login form.login-form input[type='submit'] {
  background: #D0E1D4;
  padding: 10px 20px;
  border-radius: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.region-login form.login-form input[type='submit']:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.region-salas {
  margin: 15px 20px;
}

.region-salas .grid-salas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -ms-grid-rows: ()[200px];
      grid-template-rows: repeat(200px);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}

@media (max-width: 1200px) {
  .region-salas .grid-salas {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.region-salas .grid-salas .sala {
  width: 300px;
  height: 250px;
  background: #E4BE9E;
  margin: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.region-salas .grid-salas .sala table {
  margin-top: 10px;
}

.region-salas .grid-salas .sala table,
.region-salas .grid-salas .sala table th,
.region-salas .grid-salas .sala table td {
  border: 1px solid #264653;
  border-collapse: collapse;
  padding: 5px;
}

.region-salas .grid-salas .sala table th {
  font-weight: bold;
  text-align: left;
  margin-right: 1px;
}
/*# sourceMappingURL=style.css.map */